
body{
    background-color: #F8F8F8;
    font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}
.languageDiv{
    color: #ddd;
    text-align: right;
}
.languageButton{
    cursor: pointer;
}
.header{
    background: #555555;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    left: 0;
    opacity: 0.95;
    padding: 8px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    color: #ddd;
}
.nameOfShop{
    text-align: center;
}
/* Cтиль рубля */
.rub{ 
    display: inline-block; 
    font-size: 18px; 
    line-height: 5px; 
    border-bottom: 1px solid #000000; 
    width:0.4em; 
}
/* Стиль кнопки в корзину*/
.buy{
    background-attachment: scroll;
    background-color: rgb(0, 121, 00);
    background-origin: padding-box;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0392157) 0px 3px 0px 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    filter: none;
    font-family: 'Helvetica neue', Helvetica, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
    line-height: normal;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    width: 140px;
    zoom: 1;
}
.buy:hover{
    background-color: rgb(0, 80, 00);
}