<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>com.gi.shop.product.Product</servlet-class>
        <init-param>
            <param-name>language</param-name>
            <param-value>ru</param-value>
        </init-param>
        <init-param>
            <param-name>tab</param-name>
            <param-value>characteristics</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Products</servlet-name>
        <jsp-file>/jsp/productList.jsp</jsp-file>
        <init-param>
            <param-name>language</param-name>
            <param-value>ru</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
